body {
    font-family: Inter, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checklist-content {
    background-color: #3379E7;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checklist-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.checklist-circle {
    width: 50px;
    height: 50px;
    border: 10px;
    border-radius: 50%;
    background: conic-gradient(#fff 0%, #fff 0%, #3379E7 0%, #3379E7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.circle-inner {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #3379E7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.checklist-button {
    background-color: white;
    color: #3379E7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.checklist-button:hover {
    background-color: #285bb5;
    color: white;
}

.checklist-info {
    flex-grow: 1;
}

.checklist-title_container {
    background-color: #2364DB;
    width: Fixed (76px)px;
height: 18px;
top: 12px;
left: 98px;
padding: 0px 10px 0px 10px;
gap: 10px;
border-radius: 40px 0px 0px 0px;
opacity: 0px;
}

.checklist-title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.checklist-info .checklist-title {
    font-size: 14px;
    font-weight: bold;
}

.checklist-info_progress, .checklist-task {
    font-size: 12px;
    margin: 5px 0;
}

.circle[data-percent="0"] {
    background: conic-gradient(#fff 0%, #fff 0%, #3379E7 0%, #3379E7 100%);
}
.circle[data-percent="50"] {
    background: conic-gradient(#fff 0%, #fff 50%, #3379E7 50%, #3379E7 100%);
}
.circle[data-percent="75"] {
    background: conic-gradient(#fff 0%, #fff 75%, #3379E7 75%, #3379E7 100%);
}
.circle[data-percent="100"] {
    background: conic-gradient(#fff 0%, #fff 100%, #3379E7 100%, #3379E7 100%);
}